body {
  background-color: lightgray !important;
}

.main-view {
  padding: 40px 0;
}

.movie-card {
  display: flex;
  padding-bottom: 30px;
}

.card-title {
  max-width: 100%;
  word-wrap: break-word;
}
