.card-top {
  position: absolute;
  margin-top: 25px;
}

.card-title {
  max-width: 100%;
  word-wrap: break-word;
}
.genre-movie-mini-cards {
  margin-top: 10px;
}

.genre-name {
  font-size: 18px;
  font-weight: bold;
}

.genre-description {
  font-size: 18px;
  font-weight: bold;
}

.btn-space {
  margin-top: 15px;
}
