.profile-container {
  padding-top: 25px;
}

.profile-form {
  margin: auto;
  max-width: 450px;
}

.profile-form-header {
  padding-top: 20px;
}

.favorites-card {
  padding-top: 10px;
  max-width: 1000px;
}

.profile-movie-mini-cards {
  margin-top: 10px;
}
.delete-fav-button {
  position: absolute;
  bottom: 10px;
}
