.movie-title {
  font-size: 18px;
  font-weight: bold;
}

.movie-description {
  font-size: 18px;
  font-weight: bold;
}

.director-bio {
  font-size: 18px;
  font-weight: bold;
}

.director-born {
  font-size: 18px;
  font-weight: bold;
}
