.directorview-container {
  height: 100vh;
}

.card-top {
  position: absolute;
  margin-top: 25px;
}

.card-title {
  max-width: 100%;
  word-wrap: break-word;
}

.card-group-director-mini-cards {
  margin-top: 10px;
}

.label-director {
  font-size: 18px;
  font-weight: bold;
}

.label-born {
  font-size: 18px;
  font-weight: bold;
}
